body {
  /*background-image: url("/img/bg.jpg");*/
  background: white;
}

#navbarCollapse {
  background: #18272a;
}

.card-holder {
  -moz-column-width: 16em;
  -webkit-column-width: 16em;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

.single-card {
  display: inline-block;
  margin-bottom: 1em;
  position: relative;
}

.delete-button {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
  font-weight: bold;
  color: #ff4081;
  outline: none;
}

/* login */

#login-buttons a {
  text-decoration: none!important;
}

#login-buttons {
  line-height: inherit!important;
  right: 1.5em;
  position: absolute;
  width: 20em;
  text-align: right;
  top: 1em;
}

.login-button {
  background: #00bcd4!important;
  border: none!important;
  border-radius: 2px!important;
  font-size: 1em!important;
}

#login-dropdown-list {
  position: absolute;
  right: 0;
  top: 4em;
  left: 20%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nav-account {
  position: absolute;
  left: 1em;
  margin-right: 2em;
  top: 4px;
}

.nav-account a {
  color: #00bcd4;
}

/* end login */

.my-pics {
  width: 200px;
}

.add-input-group {
  margin-bottom: 2em;
  padding : 1em;
  margin-top: -2em;
}

.likes-text {
  color: green;
  margin-left: 1em;
}

.dislikes-text {
  color: red;
  margin-left: 3em;
}

.vote-counter {
  position: relative;
}

.vote-warning {
  position: absolute;
  left: 3em;
  bottom: -4px;
}

.avatar {
  color: rgb(255, 255, 255);
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  border: 1px solid
  rgba(128, 128, 128, 0.14902);
  margin-right: 16px;
  -webkit-user-select: none;
  margin-left: -4em;
}

.profile-avatar-container {
  width: 30%;
  margin-left: 2em;
}

.navigation-holder {
  margin-bottom: 2em;
}

.nav-button {
  margin-right: 2em;
  margin-top: 10px;
}

.description-add-card {
  margin-left: 1em;
  color: #b3b3b3;
  margin-top: 1em;
}

