body {
  background: #81849c;
}

#card-container {

}

.card-holder {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

/* login */

#login-buttons a {
  text-decoration: none!important;
}

#login-buttons {
  line-height: inherit!important;
  right: 1.5em;
  position: absolute;
}

#login-dropdown-list {
  left: -10em!important;
}

/* end login */

.my-pics {
  width: 200px;
}

.single-card {
  display: inline-block;
  margin:  0.25rem;
  padding:  1rem;
  width:  100%;
}

.add-input-group {
  margin-bottom: 2em;
}

.likes-text {
  color: green;
  margin-left: 1em;
}

.dislikes-text {
  color: red;
  margin-left: 3em;
}

.vote-counter {
  position: relative;
}

.vote-warning {
  position: absolute;
  right: 1em;
  bottom: 2em;
}
